Django
-e git+https://github.com/City-of-Helsinki/django-helusers.git#egg=django-helusers
django-allauth
pytest
pytest-django
django_compressor
django-libsass
django-compressor-autoprefixer
-e git+https://github.com/juyrjola/django-bower.git#egg=django-bower
